.header {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100vw;
    margin: 0 auto;
    justify-content: space-between;
    background-color: rgb(56, 56, 56);
}

.menuItems {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navList {
    margin-right: 5vw;
    list-style-type: none;
    padding-top: 1vh;
}
.navList-item:hover{
    text-decoration: none;
    color: #ffffff;
}
.navList-item:link { 
    text-decoration: none; 
    color: white;
}
.navList-item:visited { 
    text-decoration: none; 
}
.navList-item:active{
    text-decoration: none;
    color: white;
}

.navList-item{
    margin: 0px 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #0586d7;
}
.ny{
    font-size: 50px;
    margin: 0.5vh 5vw;
}
.nylink{
    color: #027bc5;
}
.nylink:hover{
    text-decoration: none;
    color: #ffffff;
}
.nylink:link { 
    text-decoration: none; 
    color: white;
}
.nylink:visited {
     text-decoration: none;    
}
.nylink:active{
    text-decoration: none;
    color: white;
}