.mainHomePage {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    top: 25vh;
    left: 25vw;
    z-index: 2;
    width: 50vw;
  background-color: rgba(255, 255, 255, 30%);
  border: 2px solid black;
}

.backimage{
    background-image: url("https://i.pinimg.com/originals/de/b1/ca/deb1ca95c8432d9511b984de749a9787.jpg");
    /* background-image: url("https://img.freepik.com/free-vector/gradient-abstract-background-design_23-2149066048.jpg?t=st=1657476795~exp=1657477395~hmac=ba756240ff1ac049bece3d4d59039e4a223cd8ce9b4bd13a5944ca07505df7a9&w=996"); */
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    /* transform: rotate(90deg); */
     background-size: "cover"; 
    background-repeat: no-repeat;
    filter: blur(3px);

}

h2{
    font-family: 'Times New Roman', Times, serif;
    color: #000084;
    font-weight: 500;
    margin-bottom: 0px;
}
.hi{
    font-weight: 500;
}
.name {
    font-family: 'Times New Roman', Times, serif;
    color: #000084;
    font-size: 45px;
}
.mail{
    font-size: 22px;
    font-weight: 700;
}
.mail a{
    font-family: 'Times New Roman', Times, serif;
    color: #000084;
    font-weight: 500;
}
.mail a:hover{
    text-decoration: none;
    color: #ffffff;
}
.desc{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.icon{
    width: 25px;
    margin: 20px 13px;
}
.icon:hover{
    width: 30px;
}
.resume{
    margin-top: 20px ;
    padding: 5px;
    border-radius: 10px;
    color: black;
    background-color: #000084;
}
.resume a{
    color: rgb(255, 255, 255);
}
.resume a:hover{
    text-decoration: none;
    color: #ffffff;
}
.resume a:link{
    text-decoration: none;
}
.resume:hover{
    margin-top:15px;
    margin-bottom: 5px;
    box-shadow: 0 10px 5px 0 #2e2e2e;
}
.footer{
    font-weight: 500;
    color: #000084;
}
.footer:hover{
    text-decoration: underline;
}